:root {
  /* toastify */
  /* stylelint-disable custom-property-pattern */
  --toastify-color-dark: var(--colorEerieBlack);
  --toastify-color-info: var(--colorVividSkyBlue);
  --toastify-color-success: var(--colorElectricIndigo);
  --toastify-color-warning: var(--colorEarthYellow);
  --toastify-color-error: #e74c3c;
}
